.schedule-info-wrapper {
  .schedule-info-body {
    display: flex;
    box-shadow: 4px 6px 13px 0px #4e4e4e;
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.54);
  }

  // CLASSES FOR ACTIVE DAYS
  .height-for-5-rows {
    height: 20%;
  }

  .height-for-6-rows {
    height: 16.666667%;
  }

  .day-container {
    border: 1px solid lightgray;
    padding: 0;
    background-color: #f8f8ffcf;
    overflow: hidden;

    .title-wrapper {
      display: flex;
      border-bottom: 1px solid #c3c3c3;
      height: 19%;
      cursor: pointer;

      .day-of-the-week-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22%;
        background-color: darkgray;

        .day-of-the-week {
          text-align: center;
          font-family: Old Standard TT, 'Times New Roman', Times, serif;
          font-size: larger;
          font-weight: 500;
          width: 88%;
        }
      }

      .day-of-the-week-name-wrapper {
        display: flex;
        margin-left: 4px;
        align-items: center;

        .day-of-the-week-name {
          font-size: small;
          font-weight: 400;
        }
      }
    }
  }

  .day-container:hover {
    box-shadow: inset 1px 1px 8px 1px gray;
    transition: 0.4s;

    .day-of-the-week-wrapper {
      background-color: rgb(119, 182, 219);
      transition: 0.4s;
    }
  }

  // CLASSES FOR INACTIVE DAYS
  .day-container-inactive {
    border: 1px solid lightgray;
    padding: 0;
    background-color: #dedede;

    .title-wrapper-inactive {
      display: flex;
      border-bottom: 1px solid #c3c3c3;
      height: 19%;

      .day-of-the-week-wrapper-inactive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22%;
        background-color: #cccccc;

        .day-of-the-week-inactive {
          color: gray;
          text-align: center;
          font-family: Old Standard TT, 'Times New Roman', Times, serif;
          font-size: larger;
          font-weight: 500;
          width: 88%;
        }
      }

      .day-of-the-week-name-wrapper-inactive {
        display: flex;
        margin-left: 4px;
        align-items: center;

        .day-of-the-week-name-inactive {
          color: gray;
          font-size: small;
          font-weight: 400;
        }
      }
    }
  }
}