.recipe-ingredient-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  background-color: #d0d7da;
  padding: 5px;
  width: 100%;

  .recipe-ingredient {
    width: 90%;
    display: flex;
    justify-content: space-evenly;

    .recipe-ingredient-dropdown-wrapper {
      width: 50%;
      padding-right: 10px;

      .recipe-ingredient-dropdown {
        width: 100%;
      }
    }

    .recipe-ingredient-amount-wrapper {
      width: 50%;
      padding-left: 10px;

      .recipe-ingredient-amount {
        width: 100%;
      }
    }
  }

  .delete-ingredient-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;

    .delete-ingredient-button {
      border: none;
      background: none;

      .delete-ingredient-icon {
        fill: #5f7df5;
        stroke: #5f7df5;
        transition: transform 0.2s ease-in;
        width: 20px;
      }

      .delete-ingredient-icon:hover {
        fill: #122d98;
        stroke: #122d98;
        stroke-width: 20px;
      }
    }

    .delete-ingredient-button:focus {
      outline: none;

      .delete-ingredient-icon {
        fill: #122d98;
        stroke: #122d98;
        stroke-width: 20px;
      }
    }

    .add-ingredient-button {
      border: none;
      background: none;

      .add-ingredient-icon {
        fill: #5f7df5;
        transition: transform 0.2s ease-in;
        width: 20px;
      }

      .add-ingredient-icon:hover {
        fill: #122d98;
        transform: rotate(90deg);
      }
    }

    .add-ingredient-button:focus {
      outline: none;

      .add-ingredient-icon {
        fill: #122d98;
        transform: rotate(90deg);
      }
    }
  }
}