.event-card-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: context-menu;
  border-radius: 4px;

  .event-card-sidebar-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightgray;
    padding: 8px 0 8px 0;
    border-bottom: 2px solid white;

    .event-card-sidebar-title {
      font-size: large;
      margin: 0;
      text-align: center;
      width: 100%;
    }

    .event-card-sidebar-date-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin: 4px 0 4px 0;

      .event-card-sidebar-date-day-name {
        margin: 0;
        font-size: 17px;
        font-weight: 800;
        font-stretch: condensed;
      }

      .event-card-sidebar-month-year-and-time {
        font-size: 14px;
        margin: 0;
        font-stretch: semi-condensed;
        font-weight: 600;
        color: #777777;
      }
    }
  }

  .event-card-sidebar-accordion {
    cursor: pointer;
    transition: 0.75s;
  }

  .event-card-sidebar-accordion:hover {
    background-color: white;
  }

  .event-card-sidebar-panel {
    display: none;
    overflow: hidden;
  }

  .event-card-sidebar-panel-visible {
    transition: 1s;
    display: block;

    .event-card-sidebar-comments-wrapper {
      display: flex;
      justify-content: center;
      margin: 10px 0 10px 0;

      .event-card-sidebar-comments {
        font-size: small;
        font-weight: 500;
        quotes: "“" "”" "‘" "’";
        line-height: 20px;
        text-align: center;
      }

      .event-card-sidebar-comments:before {
        content: open-quote;
        font-size: x-large;
        font-weight: 700;
        font-family: arial;
        color: #7b7b7b;
      }

      .event-card-sidebar-comments:after {
        content: close-quote;
        font-size: x-large;
        font-weight: 700;
        font-family: arial;
        color: #7b7b7b;
      }
    }

    .event-card-sidebar-data {
      display: flex;
      flex-direction: column;
      align-items: center;

      .event-card-sidebar-recipe-label {
        font-size: large;
        font-weight: 600;
      }

      .event-card-sidebar-recipes {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #00000042;
        width: 80%;
        border-radius: 4px;

        .event-card-sidebar-recipe-link {
          color: black;
          width: 100%;
          text-align: center;
          padding: 5px;
          border-bottom: 1px solid white;
          font-size: large;
          font-stretch: extra-expanded;
          font-variant: all-petite-caps;
        }
      }
    }
  }

  .event-card-sidebar-panel {
    margin: 1px;
  }

  .event-card-sidebar-panel-visible {
    margin: 1px;
  }
}
