.my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-submit-button {
  width: 178px;
  height: 40px;
  margin-top: 30px;
  background-image: linear-gradient(0deg, #4db1f3, #b0d8f3);
  border: 1px solid #4575ad;
  border-radius: 4px;
}

.form-link {
  font-size: small;
  margin-top: 10px;
}