.recipe-steps-step-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  background-color: #d0d7da;

  .recipe-steps-step {
    width: 70%;
    padding: 20px 10px 20px 10px;

    .step-text-input {
      resize: none;
      height: 135px;
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 4px;
    }

    .step-text-input:focus {
      outline: none;
      box-shadow: 0px 0px 0px 1pt #9cd0f3;
    }

    .step-text-input::placeholder {
      padding-left: 5px;
    }
  }

  .right-section-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 197px;

    .steps-buttons-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30%;

      .steps-buttons-icon {
        margin: 0 5px 0 5px;
      }

      .upload-step-image-button {
        border: none;
        background: none;
        padding: 0;

        .upload-step-image-label {
          cursor: pointer;
        }

        .upload-step-image-icon {
          color: #5f7df5;
          transition: transform 0.3s ease-in;
          width: 30px;
        }

        .upload-step-image-icon:hover {
          color: #122d98;
          transform: translateY(-10px);
        }
      }

      .upload-step-image-button:focus {
        outline: none;

        .upload-step-image-icon {
          color: #122d98;
          transform: scaleY(10px);
        }
      }

      .add-step-button {
        border: none;
        background: none;
        padding: 0;

        .add-step-icon {
          fill: #5f7df5;
          transition: transform 0.2s ease-in;
          width: 30px;
        }

        .add-step-icon:hover {
          fill: #122d98;
          transform: rotate(90deg);
        }
      }

      .add-step-button:focus {
        outline: none;

        .add-step-icon {
          fill: #122d98;
          transform: rotate(90deg);
        }
      }

      .delete-step-button {
        border: none;
        background: none;

        .delete-step-icon {
          fill: #5f7df5;
          stroke: #5f7df5;
          transition: transform 0.2s ease-in;
          width: 25px;
        }

        .delete-step-icon:hover {
          fill: #122d98;
          stroke: #122d98;
          stroke-width: 20px;
        }
      }

      .delete-step-button:focus {
        outline: none;

        .delete-step-icon {
          fill: #122d98;
          stroke: #122d98;
          stroke-width: 20px;
        }
      }
    }

    .step-images-upload {
      width: 100%;
      height: 70%;

      .upload-step-images-preview-div {
        width: 100%;
        height: 64%;
        background-color: #adadad;
        display: flex;
        justify-content: center;
        align-items: center;

        .upload-step-images-preview {
          object-fit: cover;
          position: relative;
          z-index: 0;
          width: auto;
          max-width: 100%;
          height: auto;
          max-height: 100%;
        }
      }

      .carousel-slider-provider-wrapper {
        width: 100%;
        height: 100%;

        .carousel-slider-provider {
          width: 100%;
          height: 100%;
          display: flex;

          .container {
            width: 100%;
            height: 100%;
          }

          .buttonBack {
            background: none;
            border: none;
            width: 20%;

            .carousel-backward-arrow {
              width: 75%;
              height: 75%;
              fill: #748cec;
            }
          }

          .buttonNext {
            background: none;
            border: none;
            width: 20%;

            .carousel-forward-arrow {
              width: 75%;
              height: 75%;
              fill: #748cec;
            }
          }

          .dotGroup {
            text-align: center;
          }
        }
      }
    }
  }
}