.recipe-steps-step-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  background-color: #d0d7da;
  padding: 5px;

  .recipe-steps-step {
    width: 80%;

    .step-text-input {
      resize: none;
      height: 80px;
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 4px;
    }

    .step-text-input:focus {
      outline: none;
      box-shadow: 0px 0px 0px 1pt #9cd0f3;
    }

    .step-text-input::placeholder {
      padding-left: 5px;
    }
  }

  .steps-buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;

    .add-step-button {
      border: none;
      background: none;
      padding: 0;

      .add-step-icon {
        fill: #5f7df5;
        transition: transform 0.2s ease-in;
        width: 30px;
      }

      .add-step-icon:hover {
        fill: #122d98;
        transform: rotate(90deg);
      }
    }

    .add-step-button:focus {
      outline: none;

      .add-step-icon {
        fill: #122d98;
        transform: rotate(90deg);
      }
    }

    .delete-step-button {
      border: none;
      background: none;

      .delete-step-icon {
        fill: #5f7df5;
        stroke: #5f7df5;
        transition: transform 0.2s ease-in;
        width: 30px;
      }

      .delete-step-icon:hover {
        fill: #122d98;
        stroke: #122d98;
        stroke-width: 20px;
      }
    }

    .delete-step-button:focus {
      outline: none;

      .delete-step-icon {
        fill: #122d98;
        stroke: #122d98;
        stroke-width: 20px;
      }
    }
  }
}