.navbar-menu-list-item {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;

  .navbar-menu-list-item-title {
    color: #d6d6d6;
    font-size: large;
    font-family: Arial;
    font-variant: petite-caps;
    color: #bbbbbb;
    font-weight: 500;
  }
}

.navbar-menu-list-item-hover {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #d0e8ff21;
  padding: 10px;

  .navbar-menu-list-item-title {
    font-size: large;
    font-family: Arial;
    font-variant: petite-caps;
    color: #ffffff;
    font-weight: 500;
  }
}