.flash-message {
  bottom: 0px;
  position: absolute;
  width: 100%;

  .alert {
    margin: 0;
    border: none;
    border-radius: 0;
    color: white;
    padding: 20px;
    z-index: 1111;
    display: flex;
    justify-content: space-between;
  }

  .alert p {
    margin: 0;
  }

  .alert-error {
    background-color: #fb2a2a;
  }

  .alert-success {
    background: green;
  }

  .close {
    color: white;
    cursor: pointer;
    margin-right: 10px;
  }
}