.popup {
  position: absolute;
  width: 350px;

  .popup-triangle {
    margin: -13px 0 -13px 0;
    font-size: xx-large;
    color: lightgray;
    letter-spacing: 0px;
  }

  .popup-header-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .popup-close-button {
    border: none;
    background: none;

    .popup-close-icon {
      width: 15px;
    }

    .popup-close-icon:hover {
      width: 15px;
      stroke: black;
      stroke-width: 20px;
    }
  }

  .popup-close-button:focus {
    outline: none;
  }
}

.not-visible {
  display: none;
}
