.popup {
  box-shadow: 0px 0px 32px;
  position: absolute;
  width: 350px;
  border-radius: 4px;

  .popup-header-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .popup-close-button {
    border: none;
    background: none;

    .popup-close-icon {
      width: 15px;
    }

    .popup-close-icon:hover {
      width: 15px;
      stroke: black;
      stroke-width: 20px;
    }
  }

  .popup-close-button:focus {
    outline: none;
  }
}

.not-visible {
  display: none;
}
