/* Navbar Heights */
$navbarHeight: 80px;
$navbarPaddingTop: 8px;
$navbarPaddingRight: 16px;

/* Footer Haights */
$footerHeight: 40px;

/* Main content heights*/
$mainHeightOffset: $navbarHeight + $footerHeight;
$contentHeight: calc(100% - #{$mainHeightOffset})