.schedule-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 80%;
  background-color: #ffffffc7;

  .invisible-wrapper {
    width: 33%;
  }

  .select-month-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 33%;

    .month-and-year-display{
      font-size: large;
      font-weight: 700;
      margin: 0;
    }

    .move-button {
      width: 40px;
      height: 40px;
      border: none;
      background-color: transparent;
      transition: 0.5s;

      .schedule-arrow {
        overflow: hidden;
        vertical-align: middle;
        fill: #5f7df5;
        width: 30px;
        height: 30px;
        stroke-width: 30px;
      }

      .schedule-arrow:hover {
        stroke: #3655d0;
        stroke-width: 28px;
      }
    }

    .move-button:focus {
      outline: none;
    }
  }

  .create-event-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33%;

    .create-event {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 175px;

      .create-event-label {
        width: 95px;
      }

      .create-event-button {
        width: 50px;
        border: none;
        background: none;

        .create-event-icon {
          fill: #5f7df5;
          transition: transform 0.2s ease-in;
        }

        .create-event-icon:hover {
          fill: #122d98;
          transform: rotate(90deg);
        }
      }

      .create-event-button:focus {
        outline: none;
      }
    }
  }
}