.custom-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  
  .custom-modal-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 766px;
    height: 600px;
    box-shadow: 25px 30px 54px black;
    background-color: #dce4e8;
    overflow-y: scroll;

    .custom-modal-close-button-wrapper {    
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 10px;

      .custom-modal-close-button {
        height: 40px;
        width: 40px;
        border: none;
        background: none;

        .custom-modal-close-icon {

        }

        .custom-modal-close-icon:focus {
          outline: none;
        }
      }

      .custom-modal-close-button:hover {
        fill: gray;
        stroke: gray;
        stroke-width: 20px;
      }
    }
  }

  .custom-modal-main::-webkit-scrollbar {
    display: none;
  }
}