.navbar-height {
  height: $navbarHeight;
  padding-top: $navbarPaddingTop;
  padding-right: $navbarPaddingRight;
}

@media only screen and (max-width: 649px) {
  .navbar-brand {
    font-size: medium;
  }
}