.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;

  .accordion {
    width: 100%;
    transition: 0.4s;
    cursor: pointer;
  }

  .accordion:hover {
    background-color: white;
  }

  .panel {
    display: none;
    overflow: hidden;
  }

  .panel-visible {
    display: block;
  }

  .event-title-wrapper {
    border-bottom: 1px solid gray;
    box-shadow: 2px 4px 9px 2px #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    height: 60px;

    .event-title {
      font-size: large;
      margin: 0;
    }
  }

  .shopping-event-data {
    display: flex;
    flex-direction: column;
    align-items: center;

    .shopping-event-recipes {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .food-event-data {
    display: flex;

    .recipe-label {
      margin-right: 5px;
    }
  }

  .recipe-link {
    background-color: lightgray;
    color: black;
    border: 1px solid black;
    width: 120px;
    text-align: center;
  }
}