.schedule-view {
  height: $contentHeight;
  display: flex;
  align-items: center;
  overflow: hidden;

  .schedule-title {
    margin: 10px;
    font-size: xx-large;
  }

  .schedule-info-wrapper-no-sidebar {
    width: 100%;
  }

  .schedule-info-wrapper-sidebar {
    width: 85%;
  }

  .schedule-info-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;

    .delete-event-button-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin: 15px 25px 20px 0px;

      .delete-event-button {
        width: 80px;
        height: 42px;
        border-radius: 20px;
        border: 2px solid red;
        background-color: #ffd5d5;
        color: #b70000;
        font-size: larger;
        margin: 5px;
      }

      .cancel-event-button {
        width: 80px;
        height: 42px;
        border-radius: 20px;
        border: 2px solid #4e65fb;
        background-color: #ced4ff;
        color: #3a4cc1;
        font-size: larger;
        margin: 5px;
      }
    }

    .schedule-view-loader-screen {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 4px 6px 13px 0px #4e4e4e;
      width: 80%;
      height: 100%;
      background-color: white;
    }

    .schedule-info-body>* {
      flex: 1 0 14%;
    }

    .schedule-info-body::-webkit-scrollbar {
      display: none;
    }

    .schedule-info-body {
      -ms-overflow-style: none;
    }
  }
}

.create-event-modal {
  margin-bottom: 1px;
  background-color: red;
}

#mymodal {
  position: relative;
}

body{ max-height: 100vh; }