.recipe-view-step-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .recipe-view-step-label {
    font-size: 1.4vw;
    font-weight: 600;
    margin: 10px;
  }

  .recipe-view-step-content {
    font-size: 1.2vw;
    font-weight: 100;
    margin-bottom: 10px;
    width: 80%;
  }

  .recipe-view-step-images-carousel-wrapper {
    width: 100%;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    padding: 17px;

    .carousel-slider-provider-wrapper {
      width: 100%;
      height: 100%;

      .carousel-slider-provider {
        width: 100%;
        height: 100%;
        display: flex;

        .container {
          width: 100%;
          height: 100%;
        }

        .buttonBack {
          background: none;
          border: none;
          width: 10%;

          .carousel-backward-arrow {
            width: 75%;
            height: 75%;
            fill: #748cec;
          }
        }

        .buttonNext {
          background: none;
          border: none;
          width: 10%;

          .carousel-forward-arrow {
            width: 75%;
            height: 75%;
            fill: #748cec;
          }
        }

        .dotGroup {
          text-align: center;
        }
      }
    }

    .upload-recipe-main-image-preview-div {
      width: 30%;
      height: 90%;
      background-color: #adadad;
      display: flex;
      justify-content: center;
      align-items: center;

      .upload-recipe-main-image-preview {
        object-fit: cover;
        position: relative;
        z-index: 0;
        width: auto;
        max-width: 90%;
        height: auto;
        max-height: 90%;
      }
    }

    .upload-recipe-images-preview-div {
      width: 90%;
      height: 52%;
      background-color: #adadad;
      display: flex;
      justify-content: center;
      align-items: center;

      .upload-recipe-images-preview {
        object-fit: cover;
        position: relative;
        z-index: 0;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }
    }
  }
}