.schedule-sidebar-hidden {
  margin-right: -400px;
  visibility: hidden;
  overflow: hidden;
}

.schedule-sidebar-visible {
  visibility: visible;
  height: 100%;
  width: 25%;
  background-color: ghostwhite;
  box-shadow: -4px 0px 8px 0px #4e4e4e;
  transition: all 0.3s;
  overflow: scroll;

  .schedule-sidebar-header-wrapper {
    display: flex;
    justify-content: initial;
    width: 109%;
    height: 66px;
    border-bottom: 1px solid #b5b5b5;
    margin-bottom: 15px;

    .schedule-sidebar-close-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .schedule-sidebar-close-button-visible {
        visibility: visible;
        height: 50px;
        width: 50px;
        border: 0px solid transparent;
        background: none;
        margin: 0;
        font-size: xx-small;

        .schedule-sidebar-close-icon {
          transition: transform 0.15s ease-in;
          stroke: gray;
          stroke-width: 15px;
          width: 20px;
        }

        .schedule-sidebar-close-icon:hover {
          transform: rotate(180deg);
          stroke: black;
          stroke-width: 25px;
        }
      }

      .schedule-sidebar-close-button-visible:focus {
        outline: none;
      }

      .schedule-sidebar-close-button-hidden {
        visibility: hidden;
      }
    }

    .schedule-sidebar-title-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .schedule-sidebar-title {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid white;
        background-color: #cccccc;

        .schedule-sidebar-day-number-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 15%;
          margin: 5px;

          .schedule-sidebar-day-number {
            margin: 0;
            font-family: Old Standard TT, 'Times New Roman', Times, serif;
            font-size: xxx-large;
            font-weight: 500;
            font-stretch: ultra-condensed;
          }
        }

        .schedule-sidebar-date-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          height: 100%;
          width: 65%;

          .schedule-sidebar-date-day-name {
            margin: 0;
            font-size: 17px;
            font-weight: 800;
            font-stretch: condensed;
          }

          .schedule-sidebar-month-year-and-time {
            font-size: 14px;
            margin: 0;
            font-stretch: semi-condensed;
            font-weight: 600;
            color: #777777;
          }
        }
      }
    }

    .invisible-wrapper {
      width: 10%;
    }
  }
}

.schedule-sidebar-visible::-webkit-scrollbar {
  display: none;
}

.schedule-sidebar-visible {
  -ms-overflow-style: none;
}